:root {
    --font-family: 'Montserrat', sans-serif;
    --font-color: #fff;
}

body {
    background-image: url(./Background.png);
    background-color: rgba(33, 33, 33, 0.9);
    background-size: cover; 
    background-blend-mode: overlay;
    justify-content: center;
    height: 100vh;
  }

svg {
    width: 47.53%;
    margin-top: 5%;
    margin-left: 26.2%;
}

.wraper {
    text-align: center;
    margin-left: 22%;
  }
  
h1 {
   font-family: var(--font-family);
   font-size: 108pt;
   color: var(--font-color);
   width: 69%;
}
.text {
    font-family: var(--font-family);
    font-size: 48pt;
    color: var(--font-color);
    margin-bottom: 13.6%;
    width: 70%;
 }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: var(--font-family);
    font-size: 21pt;
    line-height: 25%;
    color: var(--font-color);
    text-align: center;
    opacity: 80%;
 }

 @media screen and (max-width: 2561px) {
  
  .wraper {
    margin-left: 14%;
}
  h1 {
      width: 83%;
      font-size: 70pt;
  }

  .text {
      width: 89%;
      margin-bottom: 10.6%;
      font-size: 40pt;
    }
    footer {
      font-size: 16pt;
  }
    
}

 @media screen and (max-width: 1640px) {
  body {
  background-repeat: no-repeat;
}

  svg {
    margin-top: 0;
    margin-left: 32.2%;
    max-width: 385.73pt;
  }
  .wraper {
    margin-left: 19%;
}
  h1 {
      padding-top: 0%;
      font-size: 56pt;
      width: 83%;
  }

  .text {
      font-size: 27pt;
      width: 89%;
    }

  footer {
      font-size: 11pt;
      line-height: 45%;
        }

    .footer-line {
      line-height: 100%;
    }
}

 @media screen and (max-width: 1366px) {
  body {
  background-repeat: no-repeat;
}

  svg {
      max-width: 385.73pt;
  }
  .wraper {
    margin-left: 12%;
}
  h1 {
      padding-top: 5%;
      font-size: 40pt;
      width: 83%;
  }

  .text {
      font-size: 24pt;
      width: 89%;
    }

  footer {
      font-size: 12pt;
      line-height: 45%;
    }

    .footer-line {
      line-height: 100%;
    }
}

 @media screen and (max-width: 824px) {
    svg {
        max-width: 207.73pt;
    }
    .wraper {
      margin-left: 15%;
  }
    h1 {
        padding-top: 0;;
        font-size: 42pt;
        width: 83%;
    }

    .text {
        font-size: 19pt;
        width: 89%;
      }

    footer {
        font-size: 10pt;
        line-height: 45%
      }

@media only screen and (max-width: 824px) and (orientation: landscape) {
  svg {
    max-width: 166.73pt;
}

h1 {
    padding-top: 0;
    font-size: 23pt;
    width: 83%;
}

.text {
    font-size: 16pt;
    width: 89%;
  }

footer {
    font-size: 6pt;
    line-height: 45%
  }
}
    
@media only screen and (max-width: 568px) and (orientation: landscape) {

h1 {
    font-size: 20pt;
}

.text {
    font-size: 12pt;
  }

footer {
    font-size: 6pt;
    line-height: 13%;
  }

.footer-line {
  line-height: 50%;
}
}

}
@media screen and (max-width: 376px) {
  
  h1 {
     
      font-size: 21pt;
     
  }

  .text {
      font-size: 16pt;
   
    }

  footer {
      font-size: 9pt;
     
    }

    
}